.header {
    background: #000;
    height: 70px;
}

.header__inner {
    display: flex;
    padding: 20px 15px;
}

.search_form {
    height: 30px;
    width: 300px;
    margin-left: 50px;
}

.login_page0 {
    display: flex;
    margin-left: auto;
}

.login_page0 a {
    text-decoration: none;
}

.login_page_1 {
    font-size: 16px;
    margin: 0 10px;
    background-color: black;
    color: white;
    border: black;
}

.login_page_1:hover {
    font-size: 16px;
    margin: 0 10px;
    background-color: white;
    color: black;
    border: black;
}

.login_page_2 {
    font-size: 16px;
    margin: 0 10px;
    background-color: #000;
    color: white;
    border: #000;
}

.login_page_2:hover {
    font-size: 16px;
    margin: 0 10px;
    background-color: white;
    color: black;
    border: #000;
}

.login_page_3 {
    font-size: 16px;
    margin: 0 10px;
    background-color: #000;
    color: white;
    border: #000;
}

.login_page_3:hover {
    font-size: 16px;
    margin: 0 10px;
    background-color: white;
    color: black;
    border: #000;
}

body .alert-success {
    color: #799d90;
    position: relative;
    top: 10px;
    left: 20px;
    font-weight:800;
}

.alert-success2 {
    position: relative;
    bottom: 40px;
    color: #7ec8ae;
}



@media (min-width: 1400px) {
    body {
        width: 1300px;
        margin: 0 auto;
    }

}