.main_contents {
    margin: 0 auto;
    max-width: 1400px;
}

.main_select {
    height: 80px;
    border-bottom: 3px solid #afafaf;
    position: relative;
}

.recs,
.mylists {
    text-decoration: none;
    color: #999;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px 20px;
    border-bottom: 3px solid transparent;
    transition: all 0.3s ease;
    position: absolute;
    top: 30px;
    font-size: 18px;
}

.recs {
    left: 100px;
}

.mylists {
    left: 250px;
}

.recs:hover,
.mylists:hover {
    color: #666;
}

.recs.active,
.mylists.active {
    color: #ff4041;
}

.items_select {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 90px;
    padding: 80px;
}

.items_select_all {
    flex-basis: calc(25% - 67.5px);
    aspect-ratio: 1 / 1;
    position: relative;
    display: flex;
    flex-direction: column;
    height: auto;
    aspect-ratio: auto;
}

.items_select_all a {
    display: block;
    width: 100%;
    height: auto;
}

.items_select img {
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    display: block;
}

.item-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
}

.item-name {
    margin: 0;
    max-width: 75%;
    word-wrap: break-word;
    flex-shrink: 1;
}

.sold-text {
    font-size: 14px;
    color: rgb(250, 103, 77);
    font-weight: bold;
    margin: 0;
    flex-shrink: 0;
}

.main_select {
    text-align: center;
}