.item_detail_contents {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
}

.item_detail_image {
    width: 50%;
    max-width: 450px;
    min-width: 300px;
    padding: 50px;
}

.item_detail_image1 {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
}

.information {
    width: 50%;
    max-width: 450px;
    min-width: 300px;
    padding:50px;
}

.item_detail_name {
    max-width: 75%;
    overflow: hidden;
    font-size: 22px;
}

.item_detail_brand_2 {
    max-width: 50%;
    overflow: hidden;
}
.item_detail_icon {
    display: flex;
}

.item_detail_explain{
    max-width: 320px;
    word-break: break-all;
    overflow-wrap: break-word;
}

.explain_word {
    word-break: break-all;
    overflow-wrap: break-word;
    font-weight: 600;
    white-space: pre-wrap;
    word-wrap: break-word;
    line-height: 1.6;
}

.item_detail_category {
    display: flex;
}

.item_detail_condition {
    display: flex;
}

.info_submit {
    width: 350px;
    height: 30px;
    font-weight: bold;
    font-size: 17px;
    display: block;
    color: aliceblue;
    border: #ff5555;
    background-color: #ff5555;
}

.comment {
    max-width: 320px;
    word-break: break-all;
    overflow-wrap: break-word;
}

.comment-text {
    font-weight: 600;
    white-space: pre-wrap;
    word-wrap: break-word;
    line-height: 1.6;
}

.comment_submit {
    width: 350px;
    height: 30px;
    margin-top: 15px;
    display: block;
    color: aliceblue;
    border: #ff5555;
    background-color: #ff5555;
    text-decoration: none;
    text-align: center;
    font-weight: 800;
}

h3 {
    position: relative;
    left: 20px;
    font-size: 14px;
}

p {
    position: relative;
    left: 20px;
    font-size: 14px;
}

.price_after {
    font-size: 19px;
    font-weight: 500;
}

.item_detail_icon p {
    position: relative;
    top: 15px;
    left: 40px;
}

.error_massage {
    color: red;
    list-style-type: none;
}

.info_submit {
    text-decoration: none;
    text-align: center;
}

.category_views {
    display: flex;
}

.item_detail_brand {
    display: flex;
}

.item_detail_brand_1 {
    font-weight: 700;
}

.item_detail_brand_2 {
    position: relative;
    left: 50px;
    font-weight: 600;
}

.category_mark01 {
    position: relative;
    right: 22px;
    font-weight: 700;
    list-style: none;
}

.category_mark {
    position: relative;
    left: 20px;
    margin-right: 10px;
    list-style: none;
    background-color: #d9d9d9;
    border-radius: 10px;
    font-size: 13px;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 70px;
    font-size: 11px;
    font-weight: 600;
}

.item_detail_condition_1 {
    font-size: 16px;

}

.item_detail_condition_2 {
    position: relative;
    left: 50px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.comment_count_flex {
    display: flex;
    color: #5f5f5f;
}

.comment_name_image {
    display: flex;
}

.comment_name {
    position: relative;
    bottom: 5px;
    font-size: 17px;
    font-weight: 700;
}

.comment_word {
    position: relative;
    top: 8px;
    font-size: 18px;
}

.user_image_css {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
}

.favorite_button {
    position: relative;
    left: 27px;
    bottom: 15px;
    font-size: 30px;
    border: none;
    margin: 0;
    padding: 0;
}

.star_text {
    position: relative;
    left: 56px;
    bottom: 18px;
    font-size: 30px;
}

.ster_icon {
    color: rgb(250, 253, 255);
    background-color: rgb(255, 255, 255);
    font-size: 30px;
}

.favorite_button {
    position: relative;
    left: 31px;
    background-color: white;
}

.user_ster_icon {
    position: relative;
    left: 31px;
    color: rgb(250, 253, 255);
        background-color: rgb(255, 255, 255);
        font-size: 30px;
}

.ster_icon_1 {
    position: relative;
    right: 7px;
    color: black;
}

.ster_icon_2 {
    position: relative;
    right: 4px;
    font-size: 30px !important;
    color: rgb(0, 0, 0);
}

.comments_count0 {
    margin-left: 30px;
    position: relative;
    left: 50px;
    top: 20px;
}

.comments_count {
    position: relative;
    top: 27px;
}

.comments_icon {
    position: relative;
    left: 90px;
    bottom: 15px;
    font-size: 28px;
}