.login_page {
text-align: center;
    margin: 0 auto;
    max-width: 1400px;
}

.login_box {
    position: relative;
    top: 70px;
}

.email_form {
    width: 400px;
    height: 30px;
}

.password_form {
    width: 400px;
    height: 30px;
}

.submit {
    margin-top: 10px;
    display: block;
}

.submit_form {
    width: 400px;
    height: 30px;
    margin: 30px 0;
    background-color: #ff5555;
    border: #ff5555;
    color: white;
    font-weight: 700;
}

.register_page {
    color: #0173cc;
    text-decoration: none;
    display: block;
}

.label_form_1 {
    display: block;
    position: relative;
    right: 150px;
    font-weight: 700;
}

.label_form_2 {
    margin-top: 30px;
    display: block;
    position: relative;
    right: 163px;
    font-weight: 700;
}

.error {
    color: #ff5555;
}